@use 'variables' as *;

.navbar {
  background-color: $background-color;
  padding: $spacing-sm 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo {
    font-size: $font-size-lg;
    color: $primary-color;
  }

  .menu-toggle {
    display: none;

    &:checked + .hamburger + .nav-links {
      display: block;
    }
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color: $text-color;

    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

  .nav-links {
    ul {
      display: flex;
      gap: $spacing-md;
      list-style: none;

      li a {
        text-decoration: none;
        color: $text-color;
        font-weight: 500;

        &:hover {
          color: $primary-color;
        }
      }

      @media (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: $spacing-sm;
      }
    }

    @media (max-width: $breakpoint-md) {
      display: none;
      position: absolute;
      top: 60px;
      right: 20px;
      background: $background-color;
      padding: $spacing-md;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }
}
